<div class="form-container">
	<p class="title">Sign Up</p>
	<form [formGroup]="signUpForm" class="form">
		<div class="input-group">
			<label for="username">Username</label>
			<input formControlName="username" type="text" name="username" id="username" placeholder="" required>
		</div>
		<small *ngIf="signUpForm.controls['username'].dirty && signUpForm.hasError('required', 'username') "  style="color: red;">Username is required</small>

        <div class="input-group">
			<label for="username">Email</label>
			<input formControlName="email" type="text" name="username" id="username" placeholder="" required>
		</div>
		<small *ngIf="signUpForm.controls['email'].dirty  &&  signUpForm.hasError('required', 'emailS')" style="color: red;">Email is required</small>

		<div class="input-group">
			<label for="password">Password</label>
			<input formControlName="password" type="password" name="password" id="password" placeholder="" required>
			<small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')" style="color: red;">Password is required</small>
			<div class="forgot">
				<a rel="noopener noreferrer" href="#">Forgot Password ?</a>
			</div>
		</div>

		<button (click)="onSubmit()" class="sign">Sign Up</button>
	</form>
	<div class="social-message">
		<div class="line"></div>
		<p class="message">Sign up with social accounts</p>
		<div class="line"></div>
	</div>
	<div class="social-icons">
		<button aria-label="Log in with Google" class="icon">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="w-5 h-5 fill-current">
				<path d="M16.318 13.714v5.484h9.078c-0.37 2.354-2.745 6.901-9.078 6.901-5.458 0-9.917-4.521-9.917-10.099s4.458-10.099 9.917-10.099c3.109 0 5.193 1.318 6.38 2.464l4.339-4.182c-2.786-2.599-6.396-4.182-10.719-4.182-8.844 0-16 7.151-16 16s7.156 16 16 16c9.234 0 15.365-6.49 15.365-15.635 0-1.052-0.115-1.854-0.255-2.651z"></path>
			</svg>
		</button>
	</div>
	<p class="signup">Already have an account?
		<a rel="noopener noreferrer" routerLink="/login">Login</a>
	</p>
</div>